@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body { 
    background-color: #0D1B1E;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body * {
    margin: 0;
    padding: 0;
}


.text{
    margin: 60px;
    background: -webkit-linear-gradient(180deg,#F2CEE6, #E8DCB9, #C3DBC5, #7bd7a2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1{
    font-size: 7vh;
    font-weight: 700;
    text-align: center;
}

img#one{
    position: fixed;
    top: 0px;
    z-index: -1;
    opacity: 50%;
}

.slidecontainer {

    width: 75%;
    margin: auto;
    padding-top: 100px;
}

.slider {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #F2CEE6, #E8DCB9, #C3DBC5, #7bd7a2);
    border-radius: 48px;
    appearance: none;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 75px;
    height: 75px;
    background: #0D1B1E;
    border-radius: 50%;
    cursor: pointer;
}

datalist {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: -70px auto;
    color: #0D1B1E;
    font-size: 2vh;
}

.submission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}


.nav-btn {
    font-family: "Poppins", sans-serif;
    font-size: 10vh;
    font-weight: 500;
    padding: 30px 30px 0 30px;
    background: -webkit-linear-gradient(180deg, #F2CEE6, #E8DCB9, #C3DBC5, #7bd7a2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-style: none;
}

#right {
    float: right;
}

#left {
    float: left;
}


#center {
    margin: auto;
}

.textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

.textarea textarea {
    width: 75%;
    height: 200px;
    font-size: 2vh;
    padding: 10px;
    border-radius: 12px;
    border: none;
    resize: none;
    background: linear-gradient(to right, #F2CEE6, #E8DCB9, #C3DBC5, #7bd7a2);
    color: #0D1B1E; /* Text color for contrast */
}



