<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/Vector.svg') }}" id="one" alt="blob">
    <div id="text">
        <h1 class="text">How did we do?</h1>
        <p class="text">
        We value your feedback and invite you to take our quick customer<br> 
        satisfaction survey. Your insights help us improve our services and ensure<br>
        we meet your needs. It only takes a few minutes, and your responses will<br> 
        directly impact how we continue to serve you better.<br> 
        Thank you for helping us enhance your experience!
        </p>
    </div>
    

    <div id="btn">
        <button class="btn"><a href="/survey">Start the survey!<a/></button>
    </div>
    
</body>
</html>