<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='survey.css') }}">
</head>
<body>

    <img src="{{ url_for('static', filename='images/Vector.svg') }}" id="one" alt="blob">

    <div id="text">
        <h2 class="text">Question #</h2>
        <h1 class="text">This is a placement question with no use</h1>
    </div>
    <div class="slidecontainer">
        <input type="range" min="1" max="10" value="5" class="slider" id="feedBack" list="tickmarks">
        <datalist id="tickmarks">
            <option value="1" label="1"></option>
            <option value="2" label="2"></option>
            <option value="3" label="3"></option>
            <option value="4" label="4"></option>
            <option value="5" label="5"></option>
            <option value="6" label="6"></option>
            <option value="7" label="7"></option>
            <option value="8" label="8"></option>
            <option value="9" label="9"></option>
            <option value="10" label="10"></option>
        </datalist>
    </div>
    <div class="submission">
        <button class="nav-btn">&lt; Prev</button>
        <button class="nav-btn">Submit</button>
        <button class="nav-btn">Next &gt;</button>
    </div>


    
    
</body>
</html>